<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
  <div class="header-radius" >
  <%= image_tag("white_logo_background.png", class: 'img-responsive img-center') %>
    <div class="alert" role="alert">
      <%= form_tag locations_path, :class => 'form-inline', :method => :get do %>
        <%= render 'layouts/location_search' %>
        <% end %>
    </div>
  </div>
</header>
 <%= render 'layouts/jumbotron' %>
<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<aside class="image-bg-fixed-height"></aside>
<%= render 'layouts/how_it_works' %>
