<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body row">
    <div class="col-md-7">
      <dl class="dl-horizontal">
        <dt>Available spaces</dt>
        <dd><span class="btn btn-success"><%= @space.available_spaces %></span><dd>
        <hr>
        <dt>Pricing starting at</dt>
        <dd><span class="btn btn-success"><%= @space.price_hour %> EUR/hour</span> | <span class="btn btn-info"><%= @space.price_week %> EUR/week</span> <span class="btn btn-info"><%= @space.price_month %> EUR/month</span><dd>
        <hr>
        <dt>Description</dt>
        <dd class="well"><%= @space.description %><dd>
        <dt>Address</dt>
        <dd class="well"><%= @space.address %>, <%= @space.post_code %>, <%= @space.city%> - <%= @space.country %></dd>
      </dl>
    </div>
    <div class="col-md-5">
    <% if @space.attachments.empty? %>
      <div class="well text-center">No photos available</div>
    <% else %>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       <!-- Indicators -->
       <ol class="carousel-indicators attachments-ol">
         <% (1..@space.attachments.count).each do |i| %>
           <li data-target="#carousel-example-generic" data-slide-to="<%= i %>"></li>
         <% end %>
       </ol>
       <!-- Wrapper for slides -->
        <div class="carousel-inner attachments-item" role="listbox">
         <% @space.attachments.each do |p| %>
          <div class="item">
            <%= image_tag p.file_name_url(:show) %>
            <div class="carousel-caption">
            </div>
          </div>
          <% end %>
        </div>
       <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
 $(document).ready(function(){
    $( ".attachments-ol li" ).first().addClass( "active" );
    $( ".item" ).first().addClass( "active" );
  }); 
</script>
