<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body row">
      <div class="col-md-8">
        <br>
        <p><span class="bold">Address:</span> <%=@space.address%>, <%=@space.post_code%>, <%=@space.city%> - <%=@space.country%></p>
        <br>
        <p><span class="bold">Description:</span> <%= @space.description %></p>
        <br>
        <p><span class="bold">Available spaces:</span> <%=@space.available_spaces%></p>
        <br>
        <p><span class="bold">Available from</span> <%=@space.date_from.to_formatted_s(:long)%> to
          <%=@space.date_until.to_formatted_s(:long)%>
          <% if(@space.available_weekend)%>
            including weekends.
          <%end%></p>
        <br>
        <p>
          <span class="bold">Pricing:</span> <%=@space.price_hour%> $/hour
          <%=@space.price_week%> $/week <%=@space.price_month%> $/month
          </p>
        <br>
      </div>
      <div class="col-md-4">
          <%= render 'imgs_carousel' %>
      </div>
  </div>
</div>
