<div class="row">
<% @attachments.each do |p| %>
  <div class="col-md-4">
  <%= image_tag p.file_name_url, :style => "width: 200px; height: 250x;"  %>
  <hr>
  <%= link_to "remove",p, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default"%>
  </div>
<% end %>
<%= f.fields_for :attachments do |p| %>
     <div class="field">
       <%= p.label :file_name %><br>
       <%= p.file_field :file_name, :multiple => true, name: "attachments[file_name][]" %>
</div>
   <% end %>
</div>