<tr data-link='<%= space_path(space)  %>'>
	<td><%= image_tag("blue_logo_background.png", width: '100px', heigh: '100px', class: 'img-responsive') %></td>
    <td><%= space.title %></td>
    <td><%= space.price_hour %></td>
    <td><%= space.address %></td>
</tr>
<script type="text/javascript">
 $(function() {        
    $("tr[data-link]").click(function() {
      window.location = this.dataset.link
    });
 });
</script>