<tr data-link='<%= space_path(space) %>'>
	<td><%= image_tag space.first_image %></td>
    <td><strong><%= space.title %></strong>, <%= space.address %></td>
    <td><%= l space.date_from, format: :short %> -
          <%= l space.date_until, format: :short %>
    <td><span class="btn btn-success btn-xs"><%= space.price_hour %> EUR/hour</span></td> 	
</tr>
<script type="text/javascript">
 $(function() {        
    $("tr[data-link]").click(function() {
      window.location = this.dataset.link
    });
 });
</script>
