<%= render 'layouts/jumbotron' %>
<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <%= render 'layouts/sidenav' %>
        <div class="col-sm-9 col-md-9">
              <div class="well">
                  <h1>Listing spaces</h1>
                  <%= link_to 'New Space', new_space_path %>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Starting at</th>
                        <th>Address</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= render @spaces %>
                    </tbody>
                  </table>
                  <%= will_paginate @spaces, renderer: BootstrapPagination::Rails %>
              </div>
        </div>
      </div>  
  </div>   
</div>