<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1><%= @space.title %>
        <% if current_user.present? %>
          <% if current_user != @space.user %>
            <% unless current_user.favorites.exists?(space: @space) %>
              <%= link_to favorites_path(space_id: @space), method: :post, class: "btn btn-warning btn-sm" do %>
                <span class="glyphicon glyphicon-star-empty"></span> Add to favorites
              <% end %>
            <% else %>
              <%= link_to favorite_path(@space), method: :delete, class: "btn btn-danger btn-sm" do %>
                <span class="glyphicon glyphicon-star"></span> Remove from favorites
              <% end
            end
          else%>
            <%= link_to edit_space_path(@space), class: "btn btn-info" do %>Edit Space
            <% end
          end
        end%>
      </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
    <%= render 'bookings/form' %>
    <%= render 'spaces/shared/map' %>
    </div>
    <div class="col-md-6">
      <%= render 'spaces/shared/last_bookings_accepted', id: @space.id %>
    </div>
  </div>
  <div>
    <%= render 'spaces/shared/description' %>
  </div>
  <div class="row">
    <div class="col-md-7">
      <%= render 'reviews/reviews' %>
    </div>
    <div class="col-md-5 text-center">
      <%= render 'spaces/shared/owner' %>
    </div>
  </div>
</div>
