<p id="notice"><%= notice %></p>

<h1>Show space</h1>

<div>
  <p>
    <p><%= @space.title %></p>
  </p>
</div>

<div>
  <h2>Description</h2>
  <p>
    <strong>Description:</strong>
    <%= @space.description %>
  </p>

  <p>
    <strong>Price hour:</strong>
    <%= @space.price_hour %>
  </p>

  <p>
    <strong>Price week:</strong>
    <%= @space.price_week %>
  </p>

  <p>
    <strong>Price month:</strong>
    <%= @space.price_month %>
  </p>
</div>

<div>
  <h1>Reviews</h1>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Evaluation</th>
        <th>Comment</th>
        <th>Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Example</td>
        <td>4</td>
        <td>Example : Perfect for our needs.</td>
        <td>01/04/2015</td>
      </tr>
    </tbody>
  </table>
</div>
