<div class="container">
  <p id="notice"><%= notice %></p>
  <h1><%= @space.title %></h1>
  <br>
  <div class="row">
    <%= render 'bookings/form' %>
    <%= render 'spaces/shared/map' %>
  </div>
  <div class="row">
    <%= render 'spaces/shared/description' %>
  </div>
  <div class="row">
    <%= render 'reviews/reviews' %>
    <%= render 'spaces/shared/owner' %>
  </div>
</div>
