<tr>
  <td><%= link_to booking.space.title, space_path(booking.space) %></td>
  <td><%= I18n.l booking.date_from %></td>
  <td><%= I18n.l booking.date_until %></td>
  <% if state == 'sent' %>
      <td>
      <%= link_to booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" do %>
         <span class="glyphicon glyphicon-remove-circle"> Cancel</span>
      <% end %>
      </td>
  <% elsif state == 'accepted' || state == 'pending' %>
      <td><a href="mailto:<%= current_user.email %>">Send email</a> <%= booking.owner_phone %></td>
  <% end %>
</tr>