<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Reserve now</h3>
    </div>
    <div class="panel-body row">
      <div class="col-md-12">
        <p>
          <span class="bold">This space is available from</span>
          <%=@space.date_from.to_formatted_s(:long)%> to
          <%=@space.date_until.to_formatted_s(:long)%>
          <% if @space.available_weekend %> including weekends.
          <%end%>
        </p>
      </div>
      <div class="col-md-12">
        <%= form_for([@space, @space.bookings.build]) do |f| %>
          <% if @space.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@space.errors.count, "error") %> prevented this space from being saved:</h2>

              <ul>
              <% @space.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group adv-filter col-md-6">
          <div class="input-group date" id='date_from'>
            <%= f.label :date_from, 'Date From', class: 'sr-only' %>
            <%= f.text_field :date_from, required: true, placeholder: 'Date-time from', class: 'form-control', readonly: true, value: Date.current %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span> From
              </span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group adv-filter col-md-6">
          <div class='input-group date' id='date_until'>
            <%= f.label :date_until, 'Date Until', class: 'sr-only' %>
            <%= f.text_field :date_until, required: true, placeholder: 'Date-time until', class: 'form-control', readonly: true, value: Date.current %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span> Until&nbsp;
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <span class="col-md-9"></span>
        <div class="actions col-md-2.5">
          <%= f.submit "Reserve Now", class: 'btn btn-success' %>
        </div>
      </div>
    </div>

    <% end %>
  </div>
</div>
    <script type="text/javascript">
          $(function() {
            $("#date_from").datetimepicker({
              format: 'DD/MM/YYYY hh:mm a',
              ignoreReadonly: true,
              showClose: true
            });
            // .on("dp.change", function (e) {
            //     $("#date_until").data("DateTimePicker").minDate(e.date);
            //   }).ready(function() {
            //     $("#date_until").data("DateTimePicker").minDate($("#date_from").data("DateTimePicker").date());
            //   });

              $("#date_until").datetimepicker({
                format: 'DD/MM/YYYY hh:mm a',
                ignoreReadonly: true
              });
              // .on("dp.change", function (e) {
              //   $("#date_from").data("DateTimePicker").maxDate(e.date);
              // }).ready(function() {
              //   $("#date_from").data("DateTimePicker").maxDate($("#date_until").data("DateTimePicker").date());
              // });
            });
    </script>
