<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Reserve now</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>
          <span class="bold">This space is available from</span>
          <%= l @space.date_from, format: :long %> to
          <%= l @space.date_until, format: :long %>
          <%= @space.weekend %>
        </p>
        <%= form_for([@space, @space.bookings.build], html: { class: 'form-inline' }) do |f| %>
            <div class="input-group date col-md-4" id="date_from">
              <%= f.label :date_from, "From:" %>
              <div class="input-group">
                <%= f.text_field :date_from, required: true, placeholder: 'Date-time', class: 'form-control', readonly: true %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span> From
                </span>
              </div>
            </div>
            <div class="input-group date col-md-4" id="date_until">
              <%= f.label :date_until, "At:" %>
              <div class="input-group">
                <%= f.text_field :date_until, required: true, placeholder: 'Date-time', class: 'form-control', readonly: true %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span> At
                </span>
              </div>
            </div>
            <p>
            <% if !current_user.present? || current_user.vehicles.empty? %>
              <div class="input-group col-md-4">
                <%= link_to 'New Vehicle', vehicles_path, {class: 'btn btn-info'} %>
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="You must own a vehicle" aria-hidden="true"></span>
              </div>
              <script type="text/javascript">
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                })
              </script>
            <% else %>
              <div class="input-group col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Vehicle</span>
                  <%= f.label :vehicle %>
                  <%= f.select :vehicle_id, options_from_collection_for_select(current_user.vehicles, :id, :plate),{}, {class: 'form-control'} %>
                </div>
              </div>
            <% end %>
            <div class="input-group col-md-4">
              <span class="pull-right">
              <%= f.submit "Reserve Now", class: 'btn btn-success' %>
            </span>
          </div>
        </p>
      <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $("#date_from").datetimepicker({
      format: 'YYYY-MM-DD hh:mm a',
      ignoreReadonly: true
    }).on("dp.change", function (e) {
        $("#date_until").data("DateTimePicker").minDate(e.date);
      }).ready(function() {
        $("#date_until").data("DateTimePicker").minDate($("#date_from").data("DateTimePicker").date());
      });

      $("#date_until").datetimepicker({
        format: 'YYYY-MM-DD hh:mm a',
        ignoreReadonly: true
      }).on("dp.change", function (e) {
        $("#date_from").data("DateTimePicker").maxDate(e.date);
      }).ready(function() {
        $("#date_from").data("DateTimePicker").maxDate($("#date_until").data("DateTimePicker").date());
      });
    });
</script>
