<%= render 'layouts/jumbotron' %>
<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <%= render 'layouts/sidenav' %>
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Profile - <%= @user.username %></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center">
                    <% if @user.avatar.url.present? %>
                      <%= image_tag(@user.avatar.url, width: '150px', heigh: '150px', class: 'img-circle') %>
                    <% else %>
                    <%= image_tag("user_avatar.png", class: 'img-circle') %>
                    <% end %>
                  </div>
                  <div class=" col-md-9 col-lg-9 "> 
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>First Name:</td>
                          <td><%= @user.first_name %></td>
                        </tr>

                        <tr>
                          <td>Last Name:</td>
                          <td><%= @user.last_name %></td>
                        </tr>

                        <tr>
                          <td>Username:</td>
                          <td><%= @user.username %></td>
                        </tr>

                        <% if @user.date_of_birth %>
                        <tr>
                          <td>Date of Birth:</td>
                          <td><%= @user.date_of_birth %></td>
                        </tr>
                        <% end %>
                        <tr>
                          <td>Email:</td>
                          <td><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
                        </tr>

                        <% if @user.phone_number %>
                        <tr>
                          <td>Phone Number:</td>
                          <td><%= @user.phone_number %></td>   
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <% if @user == current_user %>
                    <%= link_to "Edit My Profile", edit_user_registration_path, class: 'btn btn-info' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>  
        </div>
      </div>  
  </div>   
</div>
