<%= render 'layouts/jumbotron' %>
<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <%= render 'layouts/sidenav' %>
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Profile - <%= @user.username %></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center">
                    <%= image_tag(@user.photo, class: 'img-circle') %>
                  </div>
                  <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Full Name:</td>
                          <td><%= @user.full_name %></td>
                        </tr>
                        <tr>
                          <td>Username:</td>
                          <td><%= @user.username %></td>
                        </tr>
                        <tr>
                          <td>Date of Birth:</td>
                          <td><%= @user.birthdate %></td>
                        </tr>
                        <tr>
                          <td>Email:</td>
                          <td><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
                        </tr>
                        <tr>
                          <td>Phone Number:</td>
                          <td><%= @user.phone %></td>
                        </tr>
                      </tbody>
                    </table>
                    <% if @user == current_user %>
                    <%= link_to "Edit My Profile", edit_user_registration_path, class: 'btn btn-info' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
