<%= render 'layouts/jumbotron' %>
<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <%= render 'layouts/sidenav' %>
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">My Profile</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                  <div class=" col-md-9 col-lg-9 "> 
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>First Name:</td>
                          <td><%= @user.first_name %></td>
                        </tr>

                        <tr>
                          <td>Last Name:</td>
                          <td><%= @user.last_name %></td>
                        </tr>

                        <tr>
                          <td>Username:</td>
                          <td><%= @user.username %></td>
                        </tr>

                        <tr>
                          <td>Date of Birth:</td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>Home Address:</td>
                          <td></td>
                        </tr>

                        <tr>
                          <td>Email:</td>
                          <td><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
                        </tr>
                        <tr>
                          <td>Phone Number:</td>
                          <td></td>   
                        </tr>
                      </tbody>
                    </table>
                    <%= link_to "Edit My Profile", edit_user_registration_path, class: 'btn btn-info' %>
                  </div>
                </div>
              </div>
            </div>  
        </div>
      </div>  
  </div>   
</div>
