<tr data-link='<%= link_to '', location  %>'>
    <td><%= location.title %></td>
    <td><%= location.price %></td>
    <td><%= location.address %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<script type="text/javascript">
 $(function() {        
    $("tr[data-link]").click(function() {
      window.location = this.dataset.link
    });
 });
</script>