<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <%= link_to "Park your Car", root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user.present? %>
      <ul class="nav navbar-nav">
        <li>
          <p class="navbar-btn">
          <%= link_to new_space_path, class: "btn btn-success btn-sm" do %>
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> New Space
          <% end %>
          </p>
        </li>
        <li>
          <%= link_to bookings_path do %>
          <span class="glyphicon glyphicon-comment"></span> Bookings Made
          <span class="badge"><%= current_user.count_bookings_made(BookingsController::PENDING_STATE) %></span>
          <% end %>
        </li>
        <li>
          <%= link_to proposals_path do %>
          <span class="glyphicon glyphicon-comment"></span> Bookings Received
          <span class="badge"><%= current_user.count_bookings_received(BookingsController::SENT_STATE) %></span>
          <% end %>
        </li>
      </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "FAQ",  static_pages_faq_path %></li>
        <li><%= link_to "How It Works?", root_path(:anchor => "how_it_works") %></li>
        <% if current_user.present? %>
        <li>
        <%= link_to static_pages_dashboard_path do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.username %>
        <% end %>
        </li>
        <li>
        <%= link_to destroy_user_session_path, :method => :delete do %>
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
        <% end %>
        </li>
        <% else %>
        <li>
        <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Sign up
        <% end %>
        </li>
        <li>
        <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
        <% end %>
        </li>
        <% end %>
      </ul>
    </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
