<div class="form-group">
  <%= label_tag :location, 'Search spaces nearby', class: 'sr-only' %>
  <div class="input-group">
    <span class="input-group-addon">Nearby</span>
    <%= text_field_tag :location, params[:location], placeholder: 'e.g. New York', class: 'form-control', required: true %>
  </div>
</div>
<div class="form-group">
  <%= label_tag :distance, "Distance", class: 'sr-only' %>
  <div class="input-group">
    <span class="input-group-addon">Distance</span>
    <%= number_field_tag :distance, params[:distance], placeholder: 'e.g.: 10', class: 'form-control', min: '1', required: true %>
    <span class="input-group-addon">Km</span>
  </div>
</div>
<div class="form-group">
  <%= submit_tag "Go!", class: 'btn btn-success' %>
</div>
